<!DOCTYPE html>
<html>

<head>
    <title>Form Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="logo.png" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
                <a class="navbar-item">
                    Reader
                </a>
                <a class="navbar-item">
                    Mass Mailer
                </a>
                <a class="navbar-item">
                    All People
                </a>
                <a class="navbar-item">
                    Form
                </a>
                <a class="navbar-item is-active">
                    Statistics
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/hacker719/reghack" class="button is-inverted is-outlined is-dark">
                            <strong>Visit Github</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="hero is-dark" style="height: 100vh">
        <div class="hero-body has-text-centered">
            <h1 class="title">Register for the Event!</h1>
            <div class="container" style="width: 50vw">
                <form method="POST" action="/addperson">
                    <div class="field">
                        <label class="label has-text-white">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Enter your name" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-white">Age</label>
                        <div class="control">
                            <input class="input" type="number" name="age" placeholder="Enter your age" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-white">Email</label>
                        <div class="control">
                            <input class="input" type="email" name="email" placeholder="Enter your email" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control  has-text-centered">
                            <input class="button is-success" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<style>
    body,html {
        margin: 0px;
        padding: 0px;
        height:100vh;
    }
</style>
</html>