<!DOCTYPE html>
<html>

<head>
	<title>RegHacks</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js">

	</script>
</head>

<body>
	<section class="hero is-dark is-fullheight">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">RegHack</h1>
				<h2 class="subtitle">Automated registration for your events!</h2>
				<p>Have you ever been confused on how to check in? Are you using a combination of google forms and a spreadsheet and
					doing it manually? There IS a better way! This node web app is built to help you register AUTOMATICALLY!</p>
			</div>
		</div>
	</section>
	<div class="hero is-link">
		<div class="hero-body">
			<p class="title">More Doc's coming soon!</p>
		</div>
	</div>
	<div class="footer">
		<div class="container has-text-centered">
			<p class="title is-6">View the repository <a href="https://github.com/Hacker719/RegHack">@Hacker719/RegHack</a></p>
			<p class="title is-6">Open Source! GNU GPL V3 License</p>
		</div>
	</div>
</body>

</html>
