<!DOCTYPE html>
<html>

<head>
    <title>People</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="icon" href="/favicon.png">
</head>

<body style="background-color: #363636;">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/logo.png" height="28">
            </a>

            <a id="nav-toggle" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>
                <a href="/reader" class="navbar-item">
                    QR Reader
                </a>
                <a href="/email" class="navbar-item">
                    Mass Mailer
                </a>
                <a class="navbar-item is-active">
                    All People
                </a>
                <a href="/form" class="navbar-item">
                    Form
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/hacker719/reghack" class="button is-inverted is-outlined is-dark">
                            <strong>Visit Github</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="hero" style="height: 100vh">
        <div class="hero-body has-text-centered">
            <h1 class="title">Table of people</h1>
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                                <% 
                                for (i in config) {
                                if (i != "checked" && i != "_id" && i!="email") { %>
                                    <td><strong><%=i%></strong></td>
                                <%}}
                                if (config.email) {%>
                                    <td><strong>Email</strong></td>
                                <% }
                                if (config.checked) {%>
                                    <td><strong>Check-In</strong></td>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% 
                            for (item in data) {
                                %>
                            <tr>
                                <% for (i in data[item]) {
                                if (i != "checked" && config[i] && i != "toString" && i!="email") {%>
                                <td><%=data[item][i]%></td>
                                <%}
                                if (data[item].email != undefined && config[i] && i != "toString" ) {
                                    if (i == "email") {%>
                                    <td><%=data[item].email%></td>
                                <%}}
                                if (data[item].checked != undefined && config[i] && i != "toString" ) {
                                    if (i == "checked") {
                                        if (data[item].checked) {%>
                                    <td>In</td>
                                    <%
                                    }else if (!data[item].checked) {%>
                                    <td>Out</td>
                                <%}}}}%>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
                </div>
                </div>
                <div class="field">
                    <label class="label has-text-white">Your API Key</label>
                    <div class="control has-text-centered">
                        <input style="width:25vw" id="key" class="input" type="text" name="key" placeholder="API Key">
                    </div>
                </div>
                <div class="field">
                    <div class="control has-text-centered">
                        <button id="clear" class="button is-danger">Clear</button>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
    <div class="footer">
            <div class="container has-text-centered">
                <p class="title is-6">View the repository <a
                        href="https://github.com/Hacker719/RegHack">@Hacker719/RegHack</a></p>
                <p class="title is-6">Open Source! GNU GPL V3 License</p>
            </div>
        </div>
    <style>
            .hero-body {
                background-color: #363636 !important;
            }
            </style>
    <script>
        function clear() {
            console.log(document.getElementById("key").value);
            $.post("/clear",{"key":document.getElementById("key").value},(data)=> {
            location.reload();
        })}
        document.getElementById("clear").onclick = clear;
            (function() {
            var burger = document.querySelector('#nav-toggle');
            var menu = document.querySelector('.navbar-menu');
            burger.addEventListener('click', function() {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        })();</script>
</body>
<style>
    body,html {
        margin: 0px;
        padding: 0px;
        height:100vh;
    }
</style>
</html>