<!DOCTYPE html>
<html>

<head>
    <title>People</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body style="background-color: #363636;">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/logo.png" height="28">
            </a>

            <a id="nav-toggle" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>
                <a href="/reader" class="navbar-item">
                    QR Reader
                </a>
                <a href="/email" class="navbar-item">
                    Mass Mailer
                </a>
                <a class="navbar-item is-active">
                    All People
                </a>
                <a href="/form" class="navbar-item">
                    Form
                </a>
                <a href="/stats/1" class="navbar-item">
                    Statistics
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/hacker719/reghack" class="button is-inverted is-outlined is-dark">
                            <strong>Visit Github</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="hero" style="height: 100vh">
        <div class="hero-body has-text-centered">
            <h1 class="title">Table of people</h1>
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Age</td>
                                <td>Email</td>
                                <td>Checked</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% var i;
                    for (i=0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].age %></td>
                                <td><%= data[i].email %></td>
                                <td><%= data[i].checked ? "In" : "Out" %></td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
            </div>
        </div>
            </div>
        </div>
    </div>
    <style>
            .hero-body {
                background-color: #363636 !important;
            }
            </style>
    <script>
            (function() {
            var burger = document.querySelector('#nav-toggle');
            var menu = document.querySelector('.navbar-menu');
            burger.addEventListener('click', function() {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        })();</script>
</body>
<style>
    body,html {
        margin: 0px;
        padding: 0px;
        height:100vh;
    }
</style>
</html>