<!DOCTYPE html>
<html>

<head>
    <title>Statistics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="icon" href="/logo.png">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body style="background-color: #363636;">
    <% 
    var i;
    var count = 0;
    for (i = 0; i<people.length; i++) {
        people[i].checked ? count++ : null;
    } 
    %>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/logo.png" height="28">
            </a>

            <a id="nav-toggle" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>
                <a href="/reader" class="navbar-item">
                    QR Reader
                </a>
                <a href="/email" class="navbar-item">
                    Mass Mailer
                </a>
                <a href="/people/1" class="navbar-item">
                    All People
                </a>
                <a href="/form" class="navbar-item">
                    Form
                </a>
                <a class="navbar-item is-active">
                    Statistics
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/hacker719/reghack" class="button is-inverted is-outlined is-dark">
                            <strong>Visit Github</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="hero is-dark" style="height: 100vh">
        <div class="hero-body has-text-centered">
            <p class="title">Statistics</p>
            <p class="subtitle">People: <%= people.length %></p>
            <p class="subtitle">People checked in: <%= count %>/<%= people.length %></p>
        </div>
    </div>
    <div class="footer">
            <div class="container has-text-centered">
                <p class="title is-6">View the repository <a
                        href="https://github.com/Hacker719/RegHack">@Hacker719/RegHack</a></p>
                <p class="title is-6">Open Source! GNU GPL V3 License</p>
            </div>
        </div>
    <style>
            .hero-body {
                background-color: #363636 !important;
            }
            </style>
    <script>
            (function() {
            var burger = document.querySelector('#nav-toggle');
            var menu = document.querySelector('.navbar-menu');
            burger.addEventListener('click', function() {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        })();</script>
</body>

</html>